.additional-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "title title"
                       "amount price"
                       "btn btn";
  padding-top: 13px;
  padding-bottom: 19px;
  border-top: 1px solid @color-gray-300;


  &:last-of-type {
    border-bottom: 1px solid @color-gray-300;
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 200px 73px;
    grid-template-areas: "title amount price"
                         "btn btn btn";
    column-gap: 20px;
    row-gap: 21px;
    padding: 26px 38px 28px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 200px 100px 244px;
    grid-template-areas: "title amount price btn";
    column-gap: 13px;
    padding: 15px 0 16px;
    align-items: center;
  }
}

.additional-card__title {
  grid-area: title;
  margin: 0 0 13px;
  font-family: @font-heading;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: @color-gray-600;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }
}

.additional-card__amount {
  grid-area: amount;
  margin: 0 0 14px;
  font-weight: 400;
  line-height: 14px;
  color: @color-gray-500;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-top: 3px;
    font-size: 16px;
    line-height: 20px;
    justify-self: end;
  }

  @media (min-width: @desktop-width) {
    justify-self: start;
  }
}

.additional-card__price {
  grid-area: price;
  justify-self: end;
  margin: 0;
  font-weight: 400;
  line-height: 14px;
  color: @color-gray-500;

  @media (min-width: @tablet-width) {
    margin-top: 3px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    justify-self: center;
  }
}

.additional-card__button {
  grid-area: btn;
  font-size: 16px;
  line-height: 20px;
}
