.company-location {
  padding: 26px 20px 0;
}

.company-location__offer {
  font-family: @font-heading;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.company-location__address {
  font-weight: 400;
  line-height: 20px;
}
