.goods-promo {
  padding: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-image: url("../../img/content/cat-in-bag.jpg");
  background-color: @color-primary;
  color: @color-white;
}

.goods-promo__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @color-white;
  text-align: center;
}
