.page-footer {
  padding: 29px 20px 22px;
  text-align: center;
  background-color: @color-gray-100;

  @media (min-width: @tablet-width) {
    padding: 58px 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 58px 60px;
  }
}

.page-footer__container {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
}

.page-footer__logo {
  display: inline-block;
  padding: 10px;
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;

    &:hover {
      opacity: 0.8;
    }

    &:focus {
      opacity: 0.6;
    }
  }

}
