.product-card__title {
  font-family: @font-heading;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @color-gray-600;
  text-transform: uppercase;
}

.product-card__link {
  color: inherit;
  text-decoration: none;
}

.product-card__feature {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: @color-gray-500;
}

.product-card__feature-description {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: @color-gray-500;
}

.product-card__button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.product-card--more {
  .product-card__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: @color-gray-500;
  }
}
