.program-card {
  margin: 0 auto;
  width: 280px;
  padding: 30px 20px 22px;
  background-color: @color-gray-100;

  @media (min-width: @tablet-width) {
    position: relative;
    width: 708px;
    padding: 77px 316px 57px 52px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    padding: 77px 52px 59px;
  }
}

.program-card__title {
  position: relative;
  margin-top: 0;
  margin-left: 71px;
  margin-bottom: 29px;
  font-family: @font-heading;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    position: static;
    margin-left: 0;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    margin-left: 162px;
    margin-bottom: 73px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: -69px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: @color-primary;
    transform: translate(0, -50%);

    @media (min-width: @tablet-width) {
      top: 50%;
      left: auto;
      right: 62px;
      width: 200px;
      height: 200px;
      transform: translate(0, -50%);
    }

    @media (min-width: @desktop-width) {
      top: 50%;
      left: -162px;
      width: 100px;
      height: 100px;
      transform: translate(0, -50%);
    }
  }
}

.program-card {
  .program-card__title {
    &::after {
      position: absolute;
      top: 50%;
      content: "";
      transform: translate(0, -50%);
    }
  }
}

.program-card:nth-of-type(1) {
  .program-card__title {
    &::after {
      top: 16px;
      left: -69px;
      width: 50px;
      height: 53px;
      background-image: url("../../img/icons/cat-slim-icon.svg");
      background-size: 50px 53px;

      @media (min-width: @tablet-width) {
        left: auto;
        top: 46%;
        right: 91px;
        width: 140px;
        height: 194px;
        background-size: 140px 194px;
      }

      @media (min-width: @desktop-width) {
        right: auto;
        top: 30%;
        left: -147px;
        width: 70px;
        height: 97px;
        background-size: 70px 97px;
      }
    }
  }
}

.program-card:nth-of-type(2) {
  .program-card__title {
    &::after {
      left: -78px;
      width: 67px;
      height: 28px;
      background-image: url("../../img/icons/cat-pro-icon.svg");
      background-size: 67px 28px;

      @media (min-width: @tablet-width) {
        top: 53%;
        left: auto;
        right: 31px;
        width: 268px;
        height: 112px;
        background-size: 268px 112px;
      }

      @media (min-width: @desktop-width) {
        left: -180px;
        right: auto;
        width: 134px;
        height: 56px;
        background-size: 134px 56px;
      }
    }
  }
}

.program-card__description {
  display: inline-block;
  margin-top: 0;
  font-weight: 400;

  @media (max-width: @mobile-width-max) {
    width: 100%;
    padding-bottom: 23px;
    margin-bottom: 18px;
    border-bottom: 1px solid @color-gray-275;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 52px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 27px;
  }
}

.program-card__link {
  display: grid;
  grid-template-columns: max-content 32px;
  align-items: center;
  gap: 25px;
  position: relative;
  font-family: @font-heading;
  font-size: 16px;
  line-height: 16px;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  &::after {
    position: absolute;
    grid-column: ~"2 / -1";
    grid-row: ~"1 / 2";
    content: "";
    width: 24px;
    height: 12px;
    background-image: url("../../img/icons/arrow-icon.svg");
    background-repeat: no-repeat;
    background-position: 100% 50%;
  }


  &:hover {
    &::after {
      width: 32px;
    }
  }

  &:active {
    color: fade(@color-black, 30%);

    &::after {
      opacity: 0.3;
    }
  }
}
