.promo {
  padding: 27px 36px 20px;
  font-family: @font-heading;
  text-align: center;
  background-image: url("../../img/content/licking-cat-bg.jpg");
  background-color: @color-primary;
}

.promo__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @color-white;
}

.promo__text {
  line-height: 14px;
  color: @color-white;
  text-transform: uppercase;
}
