.stories-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 14px;
  text-align: center;
  border: 1px solid @color-gray-300;
  border-radius: 4px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    padding-top: 15px;
  }
}

.stories-stats__result {
  margin-top: 0;
  margin-bottom: 6px;
  font-family: @font-heading;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: @color-black;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.stories-stats__description {
  width: 87px;
  padding-left: 4px;
  padding-right: 4px;
  margin: 0 0px -12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  background-color: @color-gray-150;

  @media (min-width: @tablet-width) {
    width: auto;
    margin: 0 9px -6px 8px;
    font-size: 14px;
    line-height: 14px;
    background-color: @color-white;
  }

  @media (min-width: @desktop-width) {
    background-color: @color-gray-150;
  }
}
