@font-heading: "Oswald", "Arial", sans-serif;
@font-body: "Arial", sans-serif;

@color-primary: #68b738;
@color-secondary: #5eaa2f;
@color-error: #ff8282;

@color-white: #ffffff;
@color-gray-100: #f2f2f2;
@color-gray-150: #eaeaea;
@color-gray-200: #ebebeb;
@color-gray-240: #e7e7e7;
@color-gray-250: #e6e6e6;
@color-gray-260: #dcdcdc;
@color-gray-275: #d9d9d9;
@color-gray-300: #cdcdcd;
@color-gray-350: #bababa;
@color-gray-400: #666666;
@color-gray-500: #444444;
@color-gray-600: #222222;
@color-gray-700: #111111;
@color-black: #000000;

@mobile-width-max: 767px;
@tablet-width: 768px;
@tablet-width-max: 1339px;
@desktop-width: 1340px;
